@import "../../App.scss";

.header{
    background: #9d0208;
    background: linear-gradient(180deg, #9d0208 0%, #d00000 100%);

    .header-cnt-top{
        border-bottom: 1px solid lighten($clr-orange, 10%);
    }

    @media screen and (max-width: 992px){
        .header-cnt-top{
            flex-direction: column;
            .header-cnt-top-l{
                margin-bottom: 4px;
            }
        }
    }
    
}